<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		
		<File name="LogFile" fileName="DEngine.log">
			<PatternLayout pattern="%d{HH:mm:ss} [DEngine] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="net.dengine.DEngine" level="TRACE" />
		<Root level="ERROR">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</Configuration>
